<%= form_with(model: [todo_item.todo_list, todo_item], class: "contents") do |form| %>
  <% if todo_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul class="list-disc ml-6">
        <% todo_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-between w-full mt-3 mb-3">
    <%= form.text_field :name, required: true, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 mr-3 w-full bg-gray-50", {"border-gray-400 focus:outline-blue-600": todo_item.errors[:name].none?, "border-red-400 focus:outline-red-600": todo_item.errors[:name].any?}] %>
    <%= form.submit class: "text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-2 mt-2" %>
  </div>
<% end %>
