<turbo-frame class="p-2 rounded-lg <%= item.completed? ? 'bg-green-100' : 'bg-gray-50'%> text-xl flex justify-between px-5 py-3 items-center" id="<%= dom_id(item) %>">
  <%= item.name %>
  <div class="text-xl flex justify-between items-right">
    <%= link_to edit_todo_list_todo_item_path(item.todo_list, item), class: "text-white text-sm px-1 py-2.5 text-center me-2 mb-2" do %>
      <svg class="w-6 h-6 black-text dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
      </svg>
    <% end %>
    <%= button_to todo_list_todo_item_path(item.todo_list, item),
      method: :delete,
      class: "red-text text-sm px-1 py-2.5 text-center me-2 mb-2 cursor-pointer" do %>
    <svg class="w-6 h-6 text-red-400 dark:text-white red-text" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
    </svg>
    <% end %>
    <%= check_box_tag "completed", 1, item.completed?, id: dom_id(item, :checkbox), class: "my-2 w-8 h-8 accent-purple-500",
    data: { controller: "checkbox", action: "change->checkbox#update", checkbox_url_value: url_for([item.todo_list, item]), locals: { todo_list: item.todo_list }}
    %>
  </div>
</turbo-frame>
