<% content_for :title, "Showing todo list" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="inline-block justify-between items-center">
    <h1 class="text-7xl"><%= @todo_list.name %></h1>
    <%= render "counter", todo_list: @todo_list %>
  </div>
  <div class="text-right mt-4">
    <%= form_with url: todo_list_path(@todo_list), method: :get, data: { turbo_frame: "todo-items" } do %>
      <%= select_tag :filter, options_for_select(TodoItem.statuses), include_blank: true, class: "inline-block rounded-md border border-gray-200 outline-none px-3 py-2 bg-gray-50" %>
      <%= submit_tag "Filter", class: "text-white bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-2 mt-2" %>
    <% end %>
  </div>
  <turbo-frame id="todo-items" class="grid gap-4 mt-3">
    <% @todo_items.each do |item| %>
      <%= render "todo_item", item: item %>
    <% end %>
  </turbo-frame>

  <%= turbo_frame_tag :new_todo_item, src: new_todo_list_todo_item_path(@todo_list) %>

  <%= link_to todo_lists_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" do %>
    <svg class="w-6 h-6 text-gray-800 black-text dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
    </svg>
  <% end %>
</div>
