<% content_for :title, "Showing todo list" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between">
    <h1 class="text-3xl"><%= @todo_list.name %></h1>
    <%= render "counter", todo_list: @todo_list %>
  </div>
  <div class="flex justify mt-4">
    <%= form_with url: todo_list_path(@todo_list), method: :get, data: { turbo_frame: "todo-items" } do %>
      <%= select_tag :filter, options_for_select(TodoItem.statuses), include_blank: true, class: "inline-block rounded-md border border-gray-200 outline-none px-3 py-2" %>
      <%= submit_tag "Filter", class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <% end %>
  </div>
  <turbo-frame id="todo-items" class="grid gap-4 mt-3">
    <% @todo_items.each do |item| %>
      <%= render "todo_item", item: item %>
    <% end %>
  </turbo-frame>

  <%= turbo_frame_tag :new_todo_item, src: new_todo_list_todo_item_path(@todo_list) %>

  <%= link_to "Back to todo lists", todo_lists_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
